spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/tmc_db
    username: tmc_user
    password: TMC@2025
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB
server:
  servlet:
    session:
      timeout: 15m